.container {
  min-height: 100vh;
  height: 100%;
  background-color: #000000;
  padding: 4px;
}
 .floatContainer {
    font-family: sans-serif;
    background-color: #000022;
    padding: 20px 15px 5px;
    border-radius: 5px;
    border-right: 1px solid gold;
border-left: 1px solid gold;
    
  }

  .search {
  -webkit-appearance: none;
  appearance: none;
    background: rgba(255,255,255,0.35);
    color: black;
  }

  .search:focus {
    -webkit-appearance: none;
    appearance: none;
    background: rgba(255,255,255,0.45);
    color: gold;
    font-weight: bold;
}

  .headerRow { 
    display: flex;
    justify-content: space-between;
  }

  .headLogo {
    font-size: 2rem;
    color: gold;
}
  .headRight { 
  color: gold;

}
  
  .headProfile {
    vertical-align: sub;
  }
  .mediaButtonsRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: auto;
    margin: 10px auto;
  }
  .mediaButton, .searchSubmit {
    background-color: gold;
    border-style: solid;
    border-color: #000000;
    border-width: 2px;
    border-radius: 5px;
    margin: 2px;
    padding: 4px 10px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    white-space: nowrap;

  }

  .selectedMediaType {
    font-weight: bolder;
    border-width: 1px;
    border-color: gold;
    color: gold;
    background-color: rgba(0,0,0,0.85);
  }

  .recentsRow {
  display: flex;
  flex-direction: column;
}

  .recentTermsRow {
    display: flex;
    flex-direction: row;
    justify-content: start;
    background-color: #222235;
    
  }

  .cards {
    display: flex;
    flex-direction: row;
    overflow: scroll;
  }

  .term {
    color: gold;
    
    margin: 5px;
}
  .rowTitle {
    font-size: 1.8rem;
    color: grey;
}

  .footerRow {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: gold;
    font-size: 0.5rem;
}
